annotated-types==0.8.0
anyio==4.15.1
boto3==1.43.98
botocore==1.43.98
certifi==2026.7.22
h11==0.16.0
h2==4.4.1
hpack==4.2.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.20
jmespath==1.1.0
kotakneoapi==3.0.7
numpy==2.5.3
pandas==2.3.3
pyaes==1.6.1
pyasn1==0.6.4
pydantic==2.13.5
pydantic_core==2.46.5
PyJWT==2.14.0
PyOTP==2.10.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2026.3.post1
rsa==4.9.1
s3transfer==0.19.2
six==1.17.0
structlog==26.1.0
Telethon==1.45.0
tenacity==9.1.4
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.4
urllib3==2.8.0
websocket-client==1.9.2
websockets==17.1
